body{
    background-color: #f7476d;
    color: chocolate;
}
header{
    background-color: rgba(240, 248, 255, 50);
}
h1
{
    background-color: #f7476d;
}
h2
{
    background-color: azure;
}