p
{
    color: rgb(70, 104, 24);
}
li
{
    color: rgb(171, 50, 12);
}
#junimo
{
    text-align: center;
    color: aliceblue;
    padding: 2%;
    background-color: rgba(100, 200, 100, 0.5);
}
.minhaclasse
{
    border: 0.2em ridge gold;
}
li.minhaclasse
{
    font-size: xx-large;
}
.novaclasse
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}